.navbar-custom {
  background-color: #3e3c3c;
  color: #fff;
}

.header-custom,
.about-me-custom {
  background-color: #1c1a19;
}

.header-title-custom,
.about-me-title-custom {
  color: #f55800;
  font-size: 4.5rem !important;
  line-height: 5.12rem;
}

.card-btn-custom,
.about-me-btn-custom {
  background-color: #f55800;
  color: #fff;
}

.card-elements {
  background:
    linear-gradient(
      179.35deg,
      rgba(38, 38, 38, 0) 0.85%,
      rgba(38, 38, 38, 0.9) 84%
    );
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transition: all 0.5s ease-in-out;
}

.image-placeholder {
  z-index: 99;
  position: relative;
}

.card-custom {
  cursor: pointer;
}

.card-btn-custom-2 {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.5s ease-in-out;
}

.card-custom:hover .card-btn-custom-2 {
  opacity: 1;
}

.card-custom:hover .card-elements {
  opacity: 0;
  z-index: 98;
}

.about-me-custom {
  background-image: url(./images/illustration-about-me.svg);
  background-position: top right;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  #navbarScroll {
    display: none !important;
  }

  .about-me-custom {
    background-image: url(./images/illustration-about-me.svg);
    background-position: top right;
    background-repeat: no-repeat;
  }
}
